attrs==22.1.0
beancount==2.3.5
beautifulsoup4==4.11.1
bottle==0.12.23
cachetools==5.2.0
certifi==2022.9.24
chardet==5.0.0
charset-normalizer==2.1.1
exceptiongroup==1.0.0rc9
google-api-core==2.10.2
google-api-python-client==2.65.0
google-auth==2.13.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
httplib2==0.20.4
idna==3.4
iniconfig==1.1.1
lxml==4.9.1
packaging==21.3
plaid-python==7.5.0
pluggy==1.0.0
ply==3.11
prompt-toolkit==3.0.30
protobuf==4.21.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==4.2.0
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
python-magic==0.4.27
requests==2.28.1
rsa==4.9
six==1.16.0
soupsieve==2.3.2.post1
tomli==2.0.1
uritemplate==4.1.1
urllib3==1.26.12
wcwidth==0.2.5
