attrs==22.1.0
beancount==2.3.5
beautifulsoup4==4.11.1
bottle==0.12.23
cachetools==5.2.0
certifi==2022.6.15
chardet==5.0.0
google-api-core==2.8.2
google-api-python-client==2.57.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
httplib2==0.20.4
idna==3.3
importlib-metadata==1.7.0
lxml==4.9.1
more-itertools==8.4.0
packaging==21.3
plaid-python==7.5.0
pluggy==1.0.0
ply==3.11
prompt-toolkit==3.0.30
protobuf==4.21.5
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymongo==4.2.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2020.1
requests==2.28.1
rsa==4.9
six==1.16.0
soupsieve==2.3.2.post1
uritemplate==4.1.1
urllib3==1.26.11
wcwidth==0.2.5
zipp==3.1.0
